$white: white;
$light-gray: #f0f0f0;
$dark-gray: #6c6c6c;
$black: #1e1e1e;
$yellow: #f99c14;

.App{
  display: flex;
  justify-content: center;
}



.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "clear neg divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "zero zero decimal equals";
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    padding: 50px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: $dark-gray;


  .number ,.sign, .AC, .decimal{
  height: 50px;
  font-size: 30px;
  border: brown solid;
  cursor: pointer;
  border-radius: 100px;
  width: 100%;
  transition: transform 0.1s ease-in-out;

  text-align: center;
  justify-content: center;
  }

  .number :active{
    transform: scale(0.95);
  }

  #display { 
    
    text-align: right;
    grid-area: dis;
    #input {
      font-size: 48px;
      height: 48px;

    }
    
    #output {
      font-size: 30px;
      height: 30px;
      color: $yellow;
      
    }
  }
  #clear{
   
    text-align: center;
    grid-area: clear;
  }
  #negative {
    height: 50px;
    font-size: 30px;
    border: brown solid;
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    transition: transform 0.1s ease-in-out;
  
    text-align: center;
    justify-content: center;
  }
  #zero {
   
    text-align: center;
    grid-area: zero;

  }
  #equals {
    height: 50px;
    font-size: 30px;
    border: brown solid;
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-in-out;
    grid-area: equals;
    text-align: center;
  }

}

.calculator > * {
  border: 1px solid black;
  padding: 10px;
  }




// .row {
//   grid-column: 1/ -1;
// }
